<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
         <deny roles="Technical Staff" />
		 <deny roles="HOD"/>
		 <deny roles="Lecturers"/>
		<deny roles="Librarian"/>
		<deny roles="Staff"/>
		<deny roles="Registrar"/>
          <deny roles="Front Desk" />
          <deny roles="Accounting Officer" />
	 </authorization>
    </system.web>
</configuration>