
.Accordion_container .Accordion .btn, .Accordion_container .Accordion .pane p {
    margin: 0px;
    padding: 0px;
}
.Accordion_container .Accordion .btn {
    /*background-color: silver;*/
    padding: 10px 10px;
    margin : 7px;
    border-bottom: 1px solid #808080;
    cursor: pointer;
    /*transition: background-color 0.5s ease-out;*/
    font-size: 1em;
}

.Accordion_container .Accordion .btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
   
}
.Accordion_container .Accordion .pane p{
  background-color: #f0f0f0;
  padding: 18px;

  /*border-radius:  0px 0px 6px 6px;*/
}

.w3-green {
    background-color: green;
}

.w3-red {
    background-color: red;
}

.w3-grey {
    background-color: silver;
}
.Accordion_container .Accordion .pane {
  display: none;
}
.Accordion_container .Accordion .pane li{
margin: 0px;
}
.accordion h3{
  text-align: center;
}

.pane {
    background-color: lightgrey;
    z-index: 9999999999999999;
    margin: 0px;
    /*overflow-y: scroll;*/
    height: auto;
}
.pane p> a{
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: bold;
}
@media (max-width: 670px) {
  .Accordion_container {
    width: 100%;
  }
}
a{
    text-decoration:none;
}