*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

#container {
    width: 100%;
    background-color: white;
    margin:0px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 3px #313131;
}

#container1 {
    width: 100%;
    margin:0px;
    box-shadow: 0px 0px 1px 3px #313131;
    padding: 0px;
}
@media (min-width:1199px){
#container{
  width: 90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0px 0px 1px 3px #313131;
}
#container1{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 1px 3px #313131;
  padding: 0px;
}
}
.row{
  display: block;
  clear: both;
  content: "";
}

[class*="col"]{
    float:left;
    width:100%;
}

@media (min-width:768px) {
  .col_md_1{width: 8.33%;}
  .col_md_2{width: 16.66%;}
  .col_md_3{width: 25%;}
  .col_md_4{width: 33.33%}
  .col_md_5{width: 41.66%;}
  .col_md_6{width: 50%;}
  .col_md_7{width: 58.33%;}
  .col_md_8{width: 66.66%;}
  .col_md_9{width: 75%;}
  .col_md_10{width: 83.33%;}
  .col_md_11{width: 91.66%;}
  .col_md_12{width: 100%;}
}
@media (min-width:991px) {
  .col_lg_1{width: 8.33%;}
  .col_lg_2{width: 16.66%;}
  .col_lg_3{width: 25%;}
  .col_lg_4{width: 33.33%}
  .col_lg_5{width: 41.66%;}
  .col_lg_6{width: 50%;}
  .col_lg_7{width: 58.33%;}
  .col_lg_8{width: 66.66%;}
  .col_lg_9{width: 75%;}
  .col_lg_10{width: 83.33%;}
  .col_lg_11{width: 91.66%;}
  .col_lg_12{width: 100%;}
}
@media (min-width:1199px) {
  .col_1{width: 8.33%;}
  .col_2{width: 16.66%;}
  .col_3{width: 25%;}
  .col_4{width: 33.33%}
  .col_5{width: 41.66%;}
  .col_6{width: 50%;}
  .col_7{width: 58.33%;}
  .col_8{width: 66.66%;}
  .col_9{width: 75%;}
  .col_10{width: 83.33%;}
  .col_11{width: 91.66%;}
  .col_12{width: 100%;}
}
