<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ACADEMY" value="ACADEMY" />
    <add key="ACADEMY.reportservice2010" value="http://172.31.200.219:8080/ReportServer/ReportService2010.asmx" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=R;Initial Catalog=rolfStudent;User ID=sa;Password=Qwertymnop123456++" providerName="System.Data.SqlClient" />
    <!-- <add name="rolfStudentConnectionString " connectionString="Data Source=R;Initial Catalog=rolfStudent;User ID=sa;Password=Qwertymnop123456+" providerName="System.Data.SqlClient"/>
    <add name="rolfStudentConnectionString" connectionString="Data Source=R;Initial Catalog=rolfStudent;User ID=sa" providerName="System.Data.SqlClient"/> -->
    <add name="rolfStudentConnectionString1" connectionString="Data Source=R;Initial Catalog=rolfStudent;Persist Security Info=True;User ID=sa;Password=Qwertymnop123456++" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime maxRequestLength="24576" />-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <compilation defaultLanguage="vb" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.Vbe.Interop, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/Staff Dasboard/StaffLogin.aspx" name=".ASPXFORMSAUTH" timeout="2880" defaultUrl="index.aspx" />
    </authentication>
    <authorization>
      <allow roles="Bursar" />
      <allow roles="HOD" />
      <allow roles="Lecturers" />
      <allow roles="Librarian" />
      <allow roles="Rector" />
      <allow roles="Registrar" />
      <allow roles="Deputy Rector" />
      <allow roles="Technical Staff" />
      <allow roles="Assistant Registrar Administration" />
      <allow roles="Assistant Registrar Exams and Record" />
      <allow users="*" />
      <allow roles="Staff" />
      <allow roles="Administrator" />
      <allow roles="Accountant" />
      <allow roles="Accounting Officer" />
      <allow roles="Front Desk" />
    </authorization>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="connectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" connectionStringName="connectionString" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" connectionStringName="connectionString" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
    <!--<httpRuntime targetFramework="4.0" />-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<customErrors mode="Off" />-->
  </system.web>
  <system.webServer>
    <security>
      <!--<requestFiltering>
        <requestLimits maxAllowedContentLength ="34816">
        </requestLimits>
      </requestFiltering>-->
    </security>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="iisstart.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
    <httpErrors existingResponse="PassThrough" errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.40" newVersion="1.3.6.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: bb007651-208e-442d-a4c9-da9faa3db930-->