.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-form-1  {
  height: 203px;
  width: 570px;
  margin: 90px auto 0;
}

.u-form-1 .u-Newform-1 {
    height: 203px;
    width: 600px;
    margin: 90px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  margin: 32px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }
}