<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
      <deny roles="Front Desk"/>
			<deny roles="Technical Staff" />
			<deny roles="HOD"/>
			<deny roles="Lecturers"/>
			<deny roles="Librarian"/>
      <deny roles="Accounting Officer" />
      <deny roles="Accountant"/>
      <deny roles="Bursar"/>
        </authorization>
    </system.web>
</configuration>