<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <deny roles="Accounting Officer" />
            <deny roles="Technical Staff" />
         <deny roles="Front Desk" />
         <deny roles="Bursar" />
        <deny roles="HOD" />
         <deny roles="Lecturers" />
        </authorization>
    </system.web>
</configuration>